




/* this is header area */
.header{
    position: absolute;
    background: linear-gradient(to bottom, black, transparent);
    height: 100px;
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.header-logo img{

    width:150px;
    height:100px;

}

.navigation {
    display:flex;
    list-style: none;
    color: red;
}

.navigation a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color:white;
}

.navigation a:hover{
    background: gray;
}


/* this is body area */

body{
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    height: 750px;
}



/*billboard area */

.billboard-image{
    max-width:100%;
    max-height:100%;
    display:block;
}


.cta-wrapper{
    position:absolute;
    top: 45%;
    left: 3%;
    max-width:60%;
}

.cta-text{
    top:0;
    position:relative;
}

.cta-text-pitch{
    font-size: 3em;
    color:white;
}

.cta-text-description{
    font-size: 1em;
    color: white;
}


.cta-button{
    font-size:0.5em;
    min-width:112px;
    min-height:44px;
    background:red;
    color:white;
    border:none;
}

/*content area*/

.content-header{
    background: red;
    height: 30px;
}

.content-row{
    background: skyblue;
    height: 150px;
    display:flex;
    justify-content: space-between;
}

.movie{
    border-radius:10%;
    border-style: solid;
    border-color:black;
}

.movie:hover{
    background-color: yellow;
}


/*footer */

.footer{
    background-color: blue;
    height: 50px;
}





