
body{
    margin: 0px;
    padding: 0px;
}

.wrapper{

    width: auto;
    height:900px;
    position: relative;

/*    display: flex;
    flex-direction: column; <-플렉스 모듈은 사용하지 않음*/
}

.wrapper p{
    text-align: center;
    color: red;
}

.header{
    background-color: #f2f2f2;
    width: 100%;
    height: 80px;
}

.content{
    background-color: aliceblue;
    width: 100%;
    height: 750px;
}

.footer{
    background-color: lightcoral;
    width: 100%;
    height: 70px;
}


