

div{
    color: white;
    text-align: center;
    font-weight: bold;
}

.header{
    position: absolute;
    background: linear-gradient(to bottom, black, transparent);
    height: 100px;
    width: 100%;
}

.footer{
    background-color: blue;
    height: 50px;
}

body{
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    height: 750px;
}



.billboard{
    display: flex;
}

.billboard img{
    flex-grow: 1;
}



.header-1, .header-2{
    background: red;
    height: 30px;
}

.content-1-row, .content-2-row {
    background: skyblue;
    height: 150px;

}

li{
    float:left;
    width:10%;
    height: 150px;
    display: block;
}





